
<header class="bar-header">
    <a id="menu" role="button">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
    <h1 class="logo">
        <a href="{{ site.baseurl }}/">
            {% if site.use_logo %}
                {% include logo.html %}
            {% else %}
                {{ site.name }} <span class="version">{{ site.version }}</span>
            {% endif %}
        </a>
    </h1>
    <div id="profile" class="dropdown header-icon">
        <a role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/assets/img/user.jpg" class="icon-profile">
        </a>
        <div class="dropdown-menu" aria-labelledby="profile">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    <div id="alert" class="dropdown header-icon">
        <a  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg class="icon-alert"><use xlink:href="#icon-alert"></use></svg>
            <span class="alert-dots"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="alert">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    <div id="search" class="dosearch header-icon">
        <a role="button">
            <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
        </a>
    </div>
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
